{
	"env": {
	  "es6": true,
	  "node": true
	},
	"extends": [
	  "eslint:recommended",
	  "plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
	  "ecmaVersion": 2021,
	  "sourceType": "module"
	},
	"plugins": [
	  "@typescript-eslint"
	],
	"rules": {
	  "comma-trailing": "off", 
	  "no-console": ["warn", { "allow": ["warn", "error"] }]
	}
  }
  